        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" name="tipo_pizza" value="" class="btn btn-outline-danger">Comprar</button>
        </div>
    </div>
    </div>
</div>