<div class="modal fade modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hiden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content bg-dark">
        <div class="modal-header">
       <p class="modal-title display-4 text-white">Preços Disponíveis</p>
       <button type="button" class="close" data-dismiss="modal" arial-label="Fechar">
         <span class="text-white" arial-label="true">&times;</span>
       </button>
       </div>

       <div class="modal-body">
            <form action="" method="post">
                <label for="tipo" class="col-form-label text-white"> Preço</label>
                <select name="tipo" class="form-control" required>
                    <option value="" selected>--Selecione--</option>
                    <option value="R$ 16,90">R$ 16,90</option>
                </select>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" name="tipo_pizza" value="" class="btn btn-outline-danger">Comprar</button>
      </div>
      </div>
    </div>
  </div>