<!DOCTYPE html>

    <%- include('../../partials/head'); %>
    <title>Acompanhamentos</title>

<body>

    <%- include('../../partials/header'); %>

    <div class="container div">
        <p class="text-center text-white fonte tao">Acompanhamentos</p>
    </div>

    <section class="container">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/acompanhamento/suprema.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Batata Suprema</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/acompanhamento/rustica.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Batata Rústica</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>

        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/acompanhamento/nug.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Nuggets</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>
    </section>

    <%- include('../../partials/script'); %>
</body>
</html>