<!DOCTYPE html>
    
    <%- include('../../partials/head'); %>
    <title>Bebidas</title>

<body>

    <%- include('../../partials/header'); %>
    
    <div class="containver div">
        <p class="text-center text-white fonte">Bebidas</p>
    </div>
    
    <section class="container">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/bebidas/teste.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Pepsi</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/bebidas/test.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Antartica</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>
    </section>

    <section class="container">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/bebidas/water.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Àgua Natural</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/bebidas/H20.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">H2O</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>

        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/bebidas/del valle.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Del Valle</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>
    </section>

    <%- include('../../partials/script'); %> 
</body>
</html>
