<!DOCTYPE html>

    <%- include('../../partials/head'); %>    
    <title>Hamburgures de carne bovina</title>
<body>

    <%- include('../../partials/header'); %>

    <div class="container div">
        <p class="text-white text-center fonte">Hamburgueres de Carne Bovina</p>
    </div>

    <section class="container espa">
        <article class="card-deck">
          <div class="card border-transparent bg-transparent mb-3">
            <img class="card-img-top" src="/img/Hamburguer de carne bovina/bigtastyturboqueijo.png" alt="">
            <div class="card-body text-secondary">
              <h5 class="card-title text-white text-center">Big tasty turbo queijo</h5>
              <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
            </div>
          </div>

          <div class="card border-transparent bg-transparent mb-3">
            <img class="card-img-top" src="/img/Hamburguer de carne bovina/duplo cheddar.png" alt="">
            <div class="card-body text-secondary">
              <h5 class="card-title text-white text-center">Cheddar duplo</h5>
              <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
            </div>
          </div>
        </article>
    </section>

    <section class="container">
      <article class="card-deck">
        <div class="card border-transparent bg-transparent mb-3">
          <img class="card-img-top" src="/img/Hamburguer de carne bovina/cheddar 3.0.png" alt="">
          <div class="card-body text-secondary">
            <h5 class="card-title text-white text-center">Cheddar 4.0</h5>
            <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
          </div>
        </div>

        <div class="card border-transparent bg-transparent mb-3">
          <img class="card-img-top" src="/img/Hamburguer de carne bovina/stacer atomico 3.0.png" alt="">
          <div class="card-body text-secondary">
            <h5 class="card-title text-white text-center">Atomico 3.0</h5>
            <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
          </div>
        </div>
      </article>
    </section>

  <%- include('../../partials/script'); %>
</body>
</html>