<!DOCTYPE html>

    <%- include('../../partials/head'); %>
    <title>Hamburgures de Frango</title>

<body>

    <%- include('../../partials/header'); %>

    <div class="container div">
        <p class="text-center text-white display-3">Hamburgueres de Frango</p>
    </div>

    <section class="container esp">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/Hamburguer de frango/supreme grill frango.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Supreme grill frango</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/Hamburguer de frango/SUPREME CRISPY.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Supreme crispy</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>
    </section>

    <section class="container">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/Hamburguer de frango/mc frango.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Wr frango</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/Hamburguer de frango/extra frango.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Extra frango</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>

        <article class="card-deck">
          <div class="card border-transparent bg-transparent mb-3">
            <img class="card-img-top" src="/img/Hamburguer de frango/big tasty frango.png" alt="">
            <div class="card-body text-secondary">
              <h5 class="card-title text-white text-center">Supreme grill frango</h5>
              <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
            </div>
          </div>
        </article>
    </section>

    <%- include('../../partials/script'); %>
</body>
</html>