<!DOCTYPE html>
    
    <%- include('../../partials/head'); %>
    <title>Hamburgures de Picanha</title>

<body>

    <%- include('../../partials/header'); %>

    <div class="container div">
        <p class="text-white text-center fonte">Hambugures de Picanha</p>
    </div>

    <section class="container esp">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/Hamburguer de picanha/Picanha.png" alt="Picanha Bacon Cheddar">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Picanha bacon cheddar</h5>
                  <button type="button" class="btn btn-outline-light btn-block btn-lg" data-toggle="modal" data-target=".modal-xl">Ver opções</button>
                   
                </div>
              </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/Hamburguer de picanha/picanha bacon crispy.png" alt="Picanha Crispy Bacon">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Picanha crispy bacon</h5>
                  <button type="button" class="btn btn-outline-light btn-block btn-lg" data-toggle="modal" data-target=".modal-xl">Ver opções</button>
                </div>
              </div>
        </article>
    </section>

    <section class="container">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3 project-box picanha">
              <img class="card-img-top" src="/img/Hamburguer de picanha/PicanhaClubhouse2.png" alt="">
              <div class="card-body text-secondary">
                <h5 class="card-title text-white text-center">Picanha house 2</h5>
                <button type="button" class="btn btn-outline-light btn-block btn-lg" data-toggle="modal" data-target=".modal-xl">Ver opções</button>
              </div>
            </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/Hamburguer de picanha/picanhagalaxia2.png" alt="Picanha Galaxia 2">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Picanha galáxia</h5>
                  <button type="button" class="btn btn-outline-light btn-block btn-lg" data-toggle="modal" data-target=".modal-xl">Ver opções</button>
                </div>
              </div>
        </article>
    </section>

    <%- include('../../partials/script'); %>
</body>
</html>