<!DOCTYPE html>

    <%- include('../../partials/head'); %>
    <title>Sobremesa</title>

<body>

    <%- include('../../partials/header'); %>

    <div class="container div">
        <p class="text-center text-white fonte">Sobremesas</p>
    </div>

    <section class="container">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/sobremesas/balde de sorvete.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Balde de sorvete</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/sobremesas/casca recheada.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Casca recheada</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>
    </section>

    <section class="container">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/sobremesas/sundae.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Sundae</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>

              <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/sobremesas/sake.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Milk shake</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>

        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/sobremesas/flurry exagerado.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Kopenhagen exagerado</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
                </div>
              </div>
        </article>
    </section>

    <%- include('../../partials/script'); %>
</body>
</html>