<!DOCTYPE html>

    <%- include('../partials/head'); %>
    <title>Carrinho de compras</title>

<body>

    <%- include('../partials/header'); %>

    <div class="container div">
        <p class="fonte text-center text-white">Meu carrinho</p>
    </div>

    <%- include('../partials/script'); %>

</body>
</html>