<!DOCTYPE html>

    <%- include('../partials/head'); %>
    <title>Home</title>
    
<body>

    <%- include('../partials/header'); %>

    <main>
        <div class="container">
            <h1 class="text-center fonte text-white">Novidades e Ofertas</h1>
        </div>
    </main>

    <section class="container section">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
              <img class="card-img-top" src="/img/banners/picanha house panfleto.jpg" alt="">
              <div class="card-body text-secondary">
                <h5 class="card-title text-white text-center">Picanha Club House</h5>
                <a href="#" class="btn btn-outline-light btn-block btn-lg">Ver opções</a>
              </div>
            </div>

            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/banners/milkshalke panfleto.jpg" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Shake Ovomaltine</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Budcar lojas</a>
                </div>
              </div>
        </article>
    </section>

    <section class="container section">
        <article class="card-deck">
            <div class="card border-transparent bg-transparent mb-3">
                <img class="card-img-top" src="/img/banners/big tasty.png" alt="">
                <div class="card-body text-secondary">
                  <h5 class="card-title text-white text-center">Big Tasty Turbo</h5>
                  <a href="#" class="btn btn-outline-light btn-block btn-lg">Visitar</a>
                </div>
              </div>
        </article>
    </section>

    <%- include('../partials/script'); %>
</body>
</html>