<!DOCTYPE html>

    <%- include('../partials/head'); %>
    <title>Meus Pedidos</title>

<body>
    
    <%- include('../partials/header'); %>
    
    <div class="container">
        <h1 class="text-white text-center fonte">Meus Pedidos</h1>
    </div>

    <section class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Telefone</th>
                      <th scope="col">CEP</th>
                      <th scope="col">Pedido</th>
                    </tr>
                </thead>
                <!--<tbody>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>-->
                </table>
            </div>
    </section>

    <%- include('../partials/script'); %>
</body>
</html>