<!DOCTYPE html>

    <%- include('../../../partials/head'); %>
    <title>Login | Cárdapio</title>

<body>

    <%- include('../../../partials/header'); %>
    
    <div class="container div">
        <p class="text-center text-white fonte">Login</p>
    </div>

    <form method="POST" class="form">
          <div class="form-row">
            <div class="col">
              <label for="email">Email</label>
              <input id="email" name="email" type="email" class="form-control" placeholder="example@gmail.com" required autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>
          </div>
          
          <div class="form-row">
            <div class="col">
              <label for="password">Senha</label>
              <input id="password" name="password" class="form-control" type="password" required placeholder="Senha">
            </div>
          </div>
          
        <a class="center" href="/cadastro">Cadastro</a>
        <a class="center" href="#">Esqueceu sua senha?</a>
        <input id="but" type="submit" class="btn btn-outline-danger btn-lg btn-block"  value="Criar cadastro"></input>
    </form>

    <%- include('../../../partials/script'); %>
    <script src="/js/disable.js"></script>
</body>
</html>